# Базовый URL задеплоенного бэкенда.
# В dev можно оставить пустым — запросы к /api проксируются на http://localhost:3000.
# В продакшене укажите адрес backend, например:
# VITE_API_BASE_URL=https://job-mini-app-backend.onrender.com
VITE_API_BASE_URL=http://localhost:8985624090
VITE_API_BASE_URL=8985624090:AAFJXTDvni49Hgw-Scb6j_dI--nsLFKxXcs
